.playButton{
    padding:20px 40px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.playButton:active{
    background-color: aquamarine;
}

.playButton:hover{
    background-color: rgb(73, 212, 108);
}

.playTitle{
    font-size: 48px;
    font-weight: 20px;
    color: orangered;
}